[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
	email = hi@jaylyn.ch
	name = Jay Lynch
[core]
	editor = vim
[credential]
  helper = cache --timeout=21600

[diff]
  tool = bcomp
  compactionHeuristic = true
[difftool]
  prompt = false
[difftool "bcomp"]
  trustExitCode = true
  cmd = "bcomp" "$LOCAL" "$REMOTE"
[merge]
  tool = bcomp
[mergetool]
  prompt = false
[mergetool "bcomp"]
  trustExitCode = true
  cmd = "bcomp" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[push]
  default = simple

